<hr />

<footer class="footer">
  <div class="pull-left">
    &copy; BSides Winnipeg Inc., 2012&ndash;2017
  </div>

  <div class="btn-group pull-right">
    <a class="btn btn-default btn-xs" href="mailto:organizers@bsideswpg.ca">
      <i class="fa fa-envelope fa-lg"></i>
    </a>

    <a class="btn btn-default btn-xs" href="https://twitter.com/bsideswpg">
      <i class="fa fa-twitter fa-lg"></i>
    </a>

    <a class="btn btn-default btn-xs" href="https://www.youtube.com/channel/UCNQOGXlvuAhv4b1MRrv4TGQ">
      <i class="fa fa-youtube fa-lg"></i>
    </a>

    <a class="btn btn-default btn-xs" href="https://www.facebook.com/BSidesWpg">
      <i class="fa fa-facebook fa-lg"></i>
    </a>

    <a class="btn btn-default btn-xs" href="https://www.linkedin.com/groups/BSides-Winnipeg-8229242">
      <i class="fa fa-linkedin fa-lg"></i>
    </a>

    <a class="btn btn-default btn-xs" href="https://github.com/bsideswpg">
      <i class="fa fa-github fa-lg"></i>
    </a>
  </div>
</footer>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
